.new-sales-total{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}
.new-sales-ind label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}
.new-sales-ind input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}
.actions{
    text-align: right;
}